*{
    padding: 0px;
    margin: 0px;
}
    
      #input_box{
         width: 90%;
         height: auto;
         border: 0.5px solid rgb(179, 179, 179);
         margin: auto;
         border-radius: 7px;
      
      }
      .page{
          display: flex;
       /* // justify-content: center; */
        width: 41%;
         /* border: 1px solid rgb(255, 4, 4);  */
        margin: auto;
        margin-top: 10px;

      }
      .page>button{
          display: block;
          margin: auto;
          padding: 16px 8px;
          border: 0px ;
          background-color: white;
          font-size: 13px;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 650;
    color:  #343B53;
    
          
      }
      .page>button:hover{
          /* border-bottom: #3662D8; */
          cursor: pointer;
          border-bottom: 2px solid  #3662D8;
      }
      
      hr{
          
          width: 95%;
          height: 0px;
          margin: auto;
          margin-bottom: 20px;
         color: #727483;
         opacity: 0.5;
      }
                              /* Input Field Styling */
      .input_button{
        /* border: 1px solid black;  */
          display:flex;
          width: 90%;
       
          margin: auto;
      }
      .input_button>button{
          border: 1.5px solid  #727483;
          background-color: white;
          display: block;
          margin: auto;
          display: flex;
          border-radius: 8px;
          
      }
      .input_button>button:nth-child(1){
         padding: 10.2px 0px;
        width: 40%;
              
      }
      .input_button>button:nth-child(2){
          padding: 10px 0px;
        width: 15%;
       
          
      }
      .input_button>button:nth-child(3){
          padding: 10px 0px;
        width: 15%;
                
      }
      .input_button>button:nth-child(4){
          padding: 10px 0px;
        width: 25%;
          
      }
      .input_button>button>.icon{
        font-size: 18px;
        /* font-weight: 700; */
       margin-left: 5px;
       padding: 2px 0px 0px 0px;
       /* border: 1.5px solid  #727483; */
       width: 10%;

      }
      .input_button>button>.icon+div{
        font-size: 15px;
        color: #5a5b63;
        display: flex;
        align-items: center;
        /* border: 1.5px solid  #727483; */
        padding: 3px 0px 0px 0px;

      }
      .checkbox{
          display: flex;
          width: 31%;
          /* border: 1px solid black; */
          justify-content: space-evenly;
          margin-top: 29px;
          margin-left: 51px;
          padding: 2px 0px 2px 18px;
      }
      .checkbox>div{
          display: flex;
      }
      .checkbox>div>div{
         font-size: 14px;
         font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
       margin-top: -3px;
       font-weight: 450;
      }
      input[type=checkbox] {
   transform: scale(1.5);
 
/* border: radius 50px solid; */
   border-width: 4px ;

       border-style: solid;

}
#srchButton{
    display: block;
    margin: auto;
    padding: 14px 55px;
    margin-top: 40px;
    background-color:  #3662D8;
    border-radius:7px;
    border: 0px;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;

}
                                /* Top SEction End !*/



                                /* Mid-Section Start */

    #bg-img-container{
        /* border: 1px solid rgb(121, 118, 118); */
        width: 90%;
       border-radius: 7px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    #bg-img{
        background-image: url("https://a.travel-assets.com/travel-assets-manager/ux-887/Global-HP-Hero-928x398.jpg");
        background-repeat: no-repeat;
     border-radius: 7px;
     background-size: 100% 100%;
         
    }
  
    #text-content{
        /* border: 1px solid black; */
        width: 50%;
        padding: 150px 60px;
      
    }
    #text-content>h1,p{
        color: #FFFFFF;
    text-shadow: 0px 1px 2px rgb(0 11 38 / 80%);
    
    margin-bottom: 10px;
 
  
    }
    #text-content>p{
    line-height: 21px;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
   font-weight: 530;
   width: 50%;
    }
    #text-content>h1{
   
    font-size: 36px;
    /* font-family: 'Roboto', sans-serif; */
font-family: 'Source Sans Pro', sans-serif;
width: 65%;
    
    }
    #text-content>button{
   
        background-color: #3765e4;
    color: #FFFFFF;
    border: 0px;
     padding:13px 16px; 
    border-radius: 5px;
    /* width: 30%; */
    
    }
    #text-content>button:hover{
        cursor: pointer;
        background-color: #1a54f5;
    }
    #btn-text{
        font-size: 16px;
        font-weight: 546;
     
        font-family:'Quicksand', sans-serif;
    }
    #bg-color{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.45);
        border-radius: 8px;
    }
    #bg-color2{
        width: 100%;
        height: 100%;
        
        background: rgba(0,0,0,0.1);
        /* border-radius: 8px; */
    }
    #bg-img-container2{
      
        width: 90%;
       
       border-radius: 7px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        position: relative;
      
       
    }
  
    #box-sizing{
        height: 270px;
        width: 100%;
        margin: auto;
        border-radius: 11px;
    }
    #bg-img2{
        background-image: url("https://a.travel-assets.com/travel-assets-manager/gmvd-1482-bookearly-emea/667x320.jpg");
        background-repeat: no-repeat;
     /* /* border-radius: 7px; */
  background-size: 115% 130%;
  height: 100%;
 overflow: hidden;
 border-radius: 8px;
 }
    #bg-img2+div{
    
       /* height: 400px; */
       position: absolute;
     top: 190px;
       left: 16px; 
       color: #ffffff;
    text-shadow: 0px 1px 2px rgb(0 11 38 / 80%);
    width: 80%;
   
    line-height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
  
   
    }
    #Qr-cont{
        width: 100%;
     border-radius: 9px;
        border: 1px solid rgba(121, 118, 118, 0.432);
        margin-top: 45px;
        display: flex;
    }
    #img-cont{
       
        width: 31%;
        height: 300px;
      
        overflow:hidden;
    }
    #img-cont>img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
    }
    #text-contQr{
       
        width: 50%;
        margin-left: 20px;
        margin-right: 20px;
     
      
    }
    #text-contQr>h1,h4,p{
        width: 100%;
        font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
    #text-contQr>h1+p{
        color: #343B53;
        text-shadow: none;
       margin-bottom: 28px;
       margin-top: 8px;
       font-weight: 400;
     
    font-size: 14px;
    }
    #text-contQr>h1{
        color: #343b53;
    
  font-size: 32px;
  font-weight: 500;

    }
    #text-contQr>h1+p+h4{
        color: #141D38;
        
    font-synthesis: none;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
    width: 80%;
    }
    #btn-getapp+p{
        color: #343B53;
        text-shadow: none;
        font-size: 12px;
        line-height: 18px;
    }
  #Qr-logo{
   
    width: 20%;
  }
  #Qr-logo>div{
   
    width: 70%;
    margin: auto;
   
    margin-top: 30px;
  }
  #Qr-logo>div>img{
   
    width: 100%;
   
  }
  #Qr-logo>div>img+p{
    color: #141D38;
    text-shadow: none;
    font-weight: bold;
    text-align: center;
   
  }


  #btn-getapp{
      margin-top: 10px;
      margin-bottom: 20px;
      display:flex;
    
    width: 100%;
      align-items: center;
      /* border: 1px solid black; */
  }
 
  #btn-getapp>button{
      border:1px solid gray;
      background-color: #3765e4 !important;
      
     padding: 16px ; 
    font-weight: bold;
      border-radius: 8px;
   font-size: 14px;
    color: white;
    width: 27%;
    
  }
 
  #btn-getapp>#cntrycode{
     margin-right:5px;
        background-color: white !important;
        color: #41444ed3;
        font-size: 14px;
         font-weight: bold;
         width: 30%;
         margin-right: 15px;
         padding: 17px 30px !important; 
     
  }
  
  #form>input{
      padding: 16px;
      border-radius: 8px;
      border: 1px solid  #343B53;
      font-size: 14px;
      font-weight: 700;
      width: 78%;
     
  }
                                     /* Mid_scetion END! */