*{
    padding: 0px;
    margin: 0px;
}
#navbarContanier{
    display: flex;
    width: 100%;
   height: 75px;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
#navlogocont{
    display: flex;
    /* border: 1px solid black; */
    margin-left: 60px;
    width: 25%;
}
#navlogocont>#logo+div{
    display: flex;
    /* border: 1px solid black; */
    margin-left: 30px;
    align-items: center;
}
#navlogocont>#logo+div{
    font-size: 14px;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    margin-right: 5px;
    color:  #343B53;
}
#navlogocont>#logo+div:hover{
    color: blue;
    cursor: pointer;
}
#navlogocont>#logo+div>div+i{
    font-size: 14px;
    padding: 2px 0px 0px 0px ;
    color:  #343B53;
}
#control{
    display: flex;
    /* border: 1px solid black; */
    width: 22%;
   padding: 0px 30px;
    margin-right: 60px;
   justify-content: space-around;
}
#control>div{
    display: flex;
    /* border: 1px solid black; */
    font-size: 13px;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    color: #343B53;
    align-items: center; 
}
#control>div:last-child{
   justify-content: flex-end;
}
#control>div:nth-child(1){
  margin-right: 10px;
  padding: 2px 0px 0px 0px ;
}

#control>div:hover{
    color: blue;
    cursor: pointer;
}


#control>div>i{
    padding: 2px 0px 0px 0px ;
    font-size: 15px;
}
