*{
    padding: 0px;
    margin: 0px;
}
#navbarContanier{
    display: flex;
    width: 100%;
   height: 75px;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
#navlogocont{
    display: flex;
    /* border: 1px solid black; */
    margin-left: 60px;
    width: 25%;
}
#navlogocont>#logo+div{
    display: flex;
    /* border: 1px solid black; */
    margin-left: 30px;
    align-items: center;
}
#region>option,#language>option{
    background-color: rgb(247, 255, 255);
    color: #141D38;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
  }
#navlogocont>#logo+div{
    font-size: 14px;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    margin-right: 5px;
    color:  #343B53;
}
#navlogocont>#logo+div:hover{
    color: blue;
    cursor: pointer;
}
#navlogocont>#logo+div>div+i{
    font-size: 14px;
    padding: 2px 0px 0px 0px ;
    color:  #343B53;
}
#control{
    display: flex;
    /* border: 1px solid black; */
    width: 22%;
   padding: 0px 30px;
    margin-right: 60px;
   justify-content: space-around;
}
#control>div{
    display: flex;
    /* border: 1px solid black; */
    font-size: 13px;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    color: #343B53;
    align-items: center; 
}
#control>div:last-child{
   justify-content: flex-end;
}
#control>div:nth-child(1){
  margin-right: 10px;
  padding: 2px 0px 0px 0px ;
}

#control>div:hover{
    color: blue;
    cursor: pointer;
}


#control>div>i{
    padding: 2px 0px 0px 0px ;
    font-size: 15px;
}



               /* signIn-pop-Styling  START!*/

                      /* signIn-pop-Styling */
.signIn-pop{
    width: 26%;
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 16px;
    background-color: #ffff;
    position: absolute;
    top: 61px;
    right: 55px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
}
.show-singbar{
 opacity: 1;
    pointer-events:auto;
 }
hr{
    width: 100%;
}
.signIn-pop>p{
 font-weight: 500;
 color: #141D38;
 margin-left:2.6%;
}
.signIn-pop>h1,h2{
 color: #141D38;
 margin-bottom: 20px;
 font-weight: 500;
 font-size: 16px;
 text-align: center;
 font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.signIn-pop>button{
    display: block;
    color: white;
    border: none;
    margin: auto;
    background-color: rgb(83, 137, 236);
    width: 90%;
    padding: 11px;
    margin-bottom: 31px;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
}
.signIn-pop>button:hover{
    cursor: pointer;
    background-color: rgb(3, 44, 228);
}
                                 /* signIn-pop-Styling  END!*/